<div class="container-fluid p-5 mt-5">
<h1>Edit Student Score</h1>
<%= form_with(url: update_score_path, method: :patch) do %>
  <% @students.each do |s| %>
    <div>
      <%= label_tag "students[#{s.id}][score]", "#{s.full_name}:" %>
      <%= number_field_tag "students[#{s.id}][score]", s.score, step: 0.01 %>
    </div>
  <% end %>
  <%= submit_tag 'Update Scores' %>
<% end %>
</div>
