<div class="container mt-5">
  <div class="text-center">
    <h1 class="display-4 mb-4">Project Hub</h1>
  </div>


  <!-- Buttons for Resource and Team Management -->
  <div class="text-center">
    <div class="d-inline-block mx-2">
      <%= link_to  "Resource Management", project_resources_path(@project), class: "btn btn-primary btn-lg px-4" %>
    </div>
    <div class="d-inline-block mx-2">
      <%= button_to "Team Management", project_team_management_path(@project), method: :get, class: "btn btn-primary btn-lg px-4" %>
    </div>
  </div>
</div>
