<h1>Project Management Hub</h1>
<% if @projects.any? %>
  <% @projects.each do |project| %>
  <h3><%= project.name %></h3>
  <ul>
    <li>Description: <%= project.description %></li>
    <li>Status: <%= project.status %></li>
    <li>Objectives: <%= project.objectives %></li>
  </ul>
  <% end %>
<% else %>
  <p>Get Stated. Create a New Project.</p>
<% end %>