<div style="margin-top: 70px;">
  <% flash.each do |key, message| %>
      <% flash_class = case key.to_sym
                      when :notice then "success"  
                      when :alert, :error then "danger"  
                      else key 
                      end %>
      <div class="alert alert-<%= flash_class %> mt-3">
        <%= message %>
      </div>
  <% end %>
</div>
