<!-- app/views/calendars/calendars.html.erb -->

<h1>My Google Calendar</h1>

<% if @calendar_list && @calendar_list.items.any? %>
  <% first_calendar = @calendar_list.items.first %>
  
  <iframe src="https://www.google.com/calendar/embed?src=<%= first_calendar.id %>&ctz=<%= first_calendar.time_zone %>" 
  style="border: 0; margin-top: 53px;" 
  width="800" 
  height="600" 
  frameborder="0" 
  scrolling="no">
</iframe>
  </iframe>
<% else %>
  <p>No calendars found.</p>
<% end %>